Cheetah>=2.4.4
Jinja2>=2.8
Markdown>=2.6.5
MarkupSafe>=0.23
PyYAML>=3.10
Pygments>=2.0.2
SecretStorage>=2.0.0
Unidecode>=0.04.18
argparse>=1.2.1
beautifulsoup4>=4.4.1
blinker>=1.4
chardet>=2.0.1
colorama>=0.2.5
configobj>=4.7.2
disqus-python>=0.4.2
docutils>=0.12
feedgenerator>=1.7
ghp-import>=0.4.1
html5lib>=0.999
httplib2>=0.8
jsonpatch>=1.3
jsonpointer>=1.0
oauth>=1.0.1
pelican>=3.6.3
prettytable>=0.7.2
pyOpenSSL>=0.13
pycrypto>=2.6.1
pycurl>=7.19.3
pyserial>=2.6
python-dateutil>=2.4.2
pytz>=2015.7
requests>=2.2.1
simplejson>=3.3.1
six>=1.5.2
urllib3>=1.7.1
wadllib>=1.3.2
wheel>=0.24.0
wsgiref>=0.1.2
zope.interface>=4.0.5
pelican-gist>=0.3
